# Local Paths
ROOT="<Path-to-project-root>"
IMAGE_FOLDER="<image_folder_name>"
RESEARCH_PROJECT="<project-name>"
ANNOTATIONS_FOLDER="<annotations-folder-name>"
CROP_FOLDER="<folder-to-save-crops>"

#---------------------------------------------------------------------------------------------------------------------------#

# Database 
DB_NAME="<db-name>" 
DB_USER="<db-username>"
DB_PASS="<user-pass>"
DB_HOST="<fqdn-or-ip-of-db-server>"

#---------------------------------------------------------------------------------------------------------------------------#

# Label box
API_KEY = "<labelbox-api-key>"
PROJECT_ID = "<labelbox-project-id>"
DATASET_ID = "<labelbox-dataset-id>"
