header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 4.5vh;
	top: 0;
	left: 0;
	margin-right: auto;
	color: var(--color-heading);
	background-color: var(--wygf-bg-blue);

	h1 {
		font-size: 1.25em;
		margin-left: 1%;
	}

	#User-Quick-Actions-Holder {
		margin-left: auto;
		margin-right: 1%;
		display: flex;
		align-items: center;
		gap: 5px;
		overflow: visible;

		details {
			cursor: pointer;
			width: 6vw;
			background-color: var(--wygf-bg-blue);
		}
	}
}

.Menu:hover {
	align-items: flex-start;
	padding-right: 5px;
	width: 10vw;
	opacity: 95%;

	.Item {
		justify-content: flex-start;
	}
}

.Menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 2.5vw;
	background-color: var(--wygf-bg-blue);
}

.instructions {
	width: 30%;
	max-height: 100%;
	border-radius: 8px;
	text-align: left;
	padding: 1%;
	display: flex;
	flex-direction: column;

	ol {
		width: 100%;
		text-align: left;
		align-items: start;
	}
}

#configurationVerification {
	margin: 2%;

	img {
		float: left;
		margin: 0 4% 0 4%;
		border-radius: 8px;
		max-width: 50%;
		max-height: 50%;
		pointer-events: none;
		user-select: none;
	}
}

.utilityTitle {
	position: absolute;
	top: 0;
	width: 100%;
	height: 6vh;
	line-height: 6vh;
	color: var(--color-heading);
	background-color: var(--color-background-mute);
	text-align: center;

}

.pageContainer {
	position: relative;
	justify-self: center;
	padding-top: 6vh;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.componentContainer {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--color-background);
}

.Page-Content h1 {
	justify-self: center;
	align-self: center;
	font-size: x-large;
}

.Page-Content p {
	justify-self: center;
	align-self: center;
}

#navigationButtons {
	margin-top: auto;
	display: flex;
	width: 100%;

	button {
		border-radius: 8px;
		width: 100%;
		min-height: 5vh;
		background-color: var(--wygf-bg-blue);
		color: var(--color-heading);
		margin: 1%;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			margin-right: 3%;
			margin-left: 3%;
		}
	}
}

.configurationContainer {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	min-width: 0;
	min-height: 0;
}

.tallConfigurationContainer {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.configurationMenu {
	width: 100%;
	height: 100%;
	border: solid 1px var(--color-background-mute);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow: hidden;
	min-height: 0;
	padding-bottom: 1%;
}

.tallConfigurationMenu {
	height: 100% !important;
	max-height: 100%
}

.wideconfigurationMenu {
	grid-column: span 2;

	.entry {
		width: 100%;
	}
}

.configurationMenu table {
	margin-top: 1%;
}

.configurationItemsWrapper {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 2%;
	scrollbar-color: var(--color-text) transparent;
}

.entry {
	display: flex;
	min-height: 5vh;
	margin: 1%;
	justify-content: space-between;
	width: 100%;
	border-radius: 8px;
	border: solid 1px var(--color-background-mute) !important;
	background-color: var(--color-background-soft) !important;
	color: var(--color-text);
	background: none;
	font-size: 1.10em;

	p {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	img {
		border-radius: 4px;
		justify-self: center;
		align-self: center;
		width: 5vw;
	}

}

.Selected {
	color: var(--wygf-yellow) !important;
}