@import './base.css';

#app {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-y: hidden;
}

body {
  position: relative;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

button {
  border: none;
  background: none;
  color: var(--color-text);
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  color: var(--wygf-yellow);
}

button:active {
  border: solid 1px var(--color-background);
  box-shadow: 0 8px 12px 4px var(--color-background);
  border-radius: 8px;
}