@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}
.Header {
  top: 0;
  left: 0;
  width: 100%;
}
a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
  padding: 3px;
}
.Utility-Title {
	margin-bottom: auto;
	width: 100%;
	display: flex;
	color: var(--color-heading);
	justify-content: center;
	border-radius: 4px 4px 0px 0px;
	background-color: var(--wygf-bg-blue);
	padding: 0.5%;
	button {
		background: none;
		border: none;
		color: var(--color-heading);
		font-size: 1em;
	}
	button:hover {
		color: var(--wygf-yellow);
		cursor: pointer;
	}
}
.Page-Container {
  justify-self: center;
  position: relative;
  align-self: center;
  margin: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 89vh;
  max-height: 85vh;
  background-color: var(--color-background-soft);
  flex-shrink: 1;
}

.Page-Content h1 {
  justify-self: center;
  align-self: center;
  font-size: x-large;
}
.Page-Content p {
  justify-self: center;
  align-self: center;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
