annotated-types==0.7.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
fonttools==4.55.3
geojson==3.2.0
google-api-core==2.24.0
google-auth==2.37.0
googleapis-common-protos==1.66.0
idna==3.10
imagesize==1.4.1
joblib==1.4.2
kiwisolver==1.4.8
labelbox==6.6.0
lbox-clients==1.1.2
matplotlib==3.10.0
mypy==1.10.1
mypy-extensions==1.0.0
numpy==2.2.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pillow==11.1.0
proto-plus==1.25.0
protobuf==5.29.3
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.5
pydantic_core==2.27.2
pyGeoTile==1.0.6
pyparsing==3.2.1
pyproj==3.7.0
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6_sip==13.9.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
rsa==4.9
scikit-learn==1.6.1
scipy==1.15.1
shapely==2.0.6
six==1.17.0
StrEnum==0.4.15
threadpoolctl==3.5.0
tqdm==4.67.1
typeguard==4.4.1
typing_extensions==4.12.2
urllib3==2.3.0
